<%- include("drawing.svg") %>

<footer>
  <div style="z-index: -400; display: block; justify-content: center; align-items: center; align-content: center;">
    <div style="width: 100vw;  "> <p>Copyright © <%= new Date().getFullYear() %></p></div>
  </div>
</footer>
</main>



</body>

</html>