<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Add the link to the CSS stylesheet here -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- Hint: the link is relative to the public folder -->
  <title>Band Generator</title>
</head>

<body>

  <main>
    <div style="align-self: flex-start; position:absolute; top:0; width: 100vw;display: flex;">
    <a href="/" style="margin: 1vh;" ><h2>Create</h2></a>
    <a href="blogs" style="margin: 1vh;"><h2>Stare</h2></a>
    </div>

    <h1>Blog app</h1>