<%- include( "partials/header.ejs") %>


<h1>


    <%  if (locals.blogs) { %>
           
      <%  }%>
</h1>

<form action="/submit" method="POST">
  <input type="text" name="blog">
  <input type="submit" value="Blog">
</form>

<%- include( "partials/footer.ejs") %>